# Configuração do Banco de Dados (PostgreSQL Local)
DB_NAME=ce_gestao_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Configurações do Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1